.recipe-menu {
  width: 25%;
  min-width: 250px;
  display:flex;
  flex-direction: column;
  border-right: 1px solid black;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  flex-grow: 1
}
