$main-color: #2B1F31;
$font-color: white;
$hover-color: #03B5AA;

.recipe-menu {
  width: 25%;
  min-width: 250px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: $font-color;
  background: linear-gradient(to bottom, $main-color, lighten($main-color, 10%));
  overflow-y: scroll;
}

.recipe-menu h1 {
  margin: 0;
  padding: 20px 0;
}

.recipe-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  width: 100%;
}

.recipe-menu li {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid lighten($main-color, 15%);
  cursor: pointer;
  &:last-of-type {
    border-bottom: 1px solid lighten($main-color, 15%);
  }
  &:last-of-type:hover {
    border-bottom: 1px solid $hover-color;
  }
  &:hover {
    background: $hover-color;
    border-top: 1px solid $hover-color;
  }
  &:hover + li{
    border-top: 1px solid $hover-color;
  }
}

.recipe-menu > a {
  box-sizing: border-box;
  color: $font-color;
  text-decoration: none;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid lighten($main-color, 15%);
  border-bottom: 1px solid lighten($main-color, 15%);
  flex-shrink: 0;
  &:hover {
    background: $hover-color;
    border: 1px solid $hover-color;
  }
}
