@import './utils/variables';
@import './utils/mixins';

form {
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0 25px;
  box-sizing: border-box;
}

form > textarea {
  margin: 10px 0;
  width: 100%;
  min-height: 300px;
}

.ingredient {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.ingredient > input {
  flex-grow: 1;
  width: 100%;
  min-width: 100px;
  margin: 0;
}

form > button {
  border: none;
  @include button($teal);
  display: block;
}

form a {
  font-weight: 300;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.add-ingredient {
  color: $teal;
}

.delete-ingredient {
  margin-left: 10px;
  color: $red;
}

.ingredient-list {
  margin: 10px 0;
}
