@import 'normalize';
@import './utils/variables';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

:root {
  font-family: 'Open Sans';
  font-size: 16px;
  color: $default-font;
}

body, #app {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
