@mixin button($color) {
  padding: 10px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border: 1px solid $color;
  background: $color;
  color: white;
  border-bottom: 2px solid darken($color, 5%);
  &:hover {
    background: darken($color, 5%);
  }
}
